---
interface Props {
  className?: string;
}
const css =
  "w-full mx-auto px-4 sm:px-6 lg:px-8 2xl:px-20 xl:max-w-screen-xl 2xl:max-w-screen-2xl";
---

<div class:list={[css, Astro.props.className]}>
  <slot />
</div>
