---
import AposArea from "@apostrophecms/apostrophe-astro/components/AposArea.astro";
import dayjs from "dayjs";

const { page, piece, user, query } = Astro.props.aposData;
const { main } = piece;
---

<section class="bp-content">Product Show</section>
